body
{
  background: #FFFFFF;
}
header
{
  background-image: url('fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  top: 251px;
  left: 491px;
  width: 1129px;
  height: 791px;
  bottom: 70px;
  text-align: center;
  letter-spacing: 1.5px;
  color: white;
  text-shadow: 50px 250px 80px grey;
  text-emphasis-position: below;
  width: 90%;
  font-family: 'Bangers', cursive;
}
 header div
{
  padding-top: 600px;
  color: white;
  font-size: 8000px;
}
.ultimos-trabajos
{
  background: black;
  color: grey;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-weight: 2000;
}
.contacto
{
  text-align: center;
  color: grey;
  font-family: 'Bangers', cursive;
  font-weight: 2000;
}

footer
{
  background: black;

}
.empleos
{
  display: inline-block;
  padding: 25px;
  text-align: center;
}

.exp
{
  text-align: center;
  padding: 15px;
  font-family: 'Bangers', cursive;
}
.logo
{
  font-family: 'Zhi Mang Xing', cursive;
  color:white;
}

footer i, footer h2
{
  display: inline-block;

}
footer i
{
  fill: #ffffff;
  width: 2rem;
  color: white;
  text-align: right;
}

.contacto
{
  margin: 250px;
}

.contacto p
{
  padding-top: 25px;
}
